<%= stylesheet_link_tag 'account_style', 'https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin',
 media: 'all', 'data-turbolinks-track' => true %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/account_style.css">
	<title>PIX</title>
</head>
<body>
	<header class="page_header">
		<navigation class="page_navigation">
			<p class="logo">PIX</p>
			<button class="new_post_button"><%=image_tag("account_images/plus_button.svg", class: 'plus')%><span class="new_post_button_text">New post</span></button>
			<input class="search_bar" type="text" placeholder="ok, guys, i guess that's it!">
			<div class="usr">
				<span class="nickname">User Name</span>
				<%=image_tag("account_images/avatar.png", class: 'small_avatar')%>
			</div>
		</navigation>
		<div class="profilecover">
			<%=image_tag("account_images/avatar.png", class: 'big_avatar')%>
			<p class="nick">JohnKeny</p>
			<div class="links">
			<p class="lnks">Posts</p>
			<p class="lnks">Favorites</p>
			<p class="lnks">Comments</p>
			<p class="lnks">About</p>
			</div>
		</div>
		
	</header>
</body>
</html>